/*--------------------------------------------------------------
# Global variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
body {
	color: #303133;
}

.home-section {
	display: table;
	position: relative;
	width: 100%;
	padding: 200px 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
	background-position: center center;
}

.home-section .title {
	color: #303133;
	font-size: 3em;
	margin: 0 0 .5em;
}

.home-section .excerpt {
	font-size: 1.3em;
}

.home-section .content {
	position: relative;
	z-index: 9;
}

.home-section.home-section__image {
	background: #000;
	padding: 300px 100px;
}

.home-section.home-section__image .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#363c4e+0,1e5799+100 */
	background: #363c4e;
	/* Old browsers */
	background: linear-gradient(45deg, rgba(54, 60, 78, 0.5) 0%, rgba(30, 87, 153, 0.5) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363c4e', endColorstr='#1e5799',GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
}

.home-section.home-section__image .content .title, .home-section.home-section__image .content .excerpt {
	color: #fff;
}

.home-section.home-section__map {
	padding: 0;
}

.home-section.home-section__map .map {
	width: 100%;
}

.home-section.top {
	padding: 200px 100px !important;
}

.home-section.top .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#363c4e+0,1e5799+100 */
	background: #363c4e;
	/* Old browsers */
	background: linear-gradient(45deg, rgba(54, 60, 78, 0.8) 0%, rgba(30, 87, 153, 0.8) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363c4e', endColorstr='#1e5799',GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
}

.home-section.top .title {
	font-size: 5em;
	margin-bottom: 0;
}

.home-section.top .excerpt {
	font-size: 2em;
}

.home-section:not(.top) {
	text-align: center;
}

.home-section:not(.top) .title:after {
	content: " ";
	display: block;
	border-bottom: 1px solid #303133;
	width: 100px;
	margin: 20px auto;
}

.home-section .left,
.home-section .right {
	display: table-cell;
	width: 50%;
	position: relative;
	vertical-align: middle;
	text-align: center;
	z-index: 990;
}

.home-section .left .content,
.home-section .right .content {
	position: relative;
	z-index: 999;
}

@media only screen and (max-width: 860px) {
	.home-section {
		padding: 25px;
	}
	.home-section.top .title {
		font-size: 2em;
	}
	.home-section.top .excerpt {
		font-size: 1.3em;
	}
	.home-section:not(.top) {
		text-align: left;
	}
	.home-section:not(.top) .title:after {
		margin: 20px 0;
	}
	.home-section.home-section__image {
		padding: 150px 50px;
	}
	.home-section .left,
	.home-section .right {
		display: block;
		text-align: left;
		width: 100%;
	}
	.home-section .left.sticktotop,
	.home-section .right.sticktotop {
		display: table-header-group;
	}
}
