input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $color__heading;
	border-radius: 3px;
	color: $color__text-input;
	padding: 3px;
	max-width: 100%;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	
}

textarea {
	width: 100%;
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-button;
	@include gradient();
	border: none;
	color: #fff !important;
	display: inline-block;
	line-height: 1;
	padding: 1em 2em;
	transition: transform 0.4s;
	border-radius: 2px;
	cursor: pointer;
	box-shadow: none;

	&:hover {
		transform: scale(1.1);
	}

	&:active,
	&:focus {
		
	}
}

.button.cta-button {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,ef017c+100;Pink+3D+%231 */
	background: rgb(255,93,177); /* Old browsers */
	background: linear-gradient(45deg, rgba(255,93,177,1) 0%,rgba(239,1,124,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.button.button-round {
	background: none;
	border: 2px solid $color__background-footer;
	color: $color__background-footer !important;
	border-radius: 300px;

	&:hover {
		background: $color__background-footer;
		color: #fff !important;
	}

	&.cta-button {
		border: none;
		background: #ef017c;
		color: #fff !important;

		&:hover {
			background: lighten( #ef017c, 10% );
		}
	}
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;

	legend {
		color: $color__heading;
		&:after {
			content: " ";
			display: block;
			border-bottom: 1px solid $color__heading;
			width: 60px;
			margin: 20px 0;
		}
	}
}